<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<a href="admin.html" class="btn btn--s">&lt;</a>&nbsp;&nbsp;<strong>Network Configuration</strong>
<hr>
	Connect to Router with these settings:<br>
<form action="" method="get">
    <table border="0" cellspacing="0" cellpadding="3" style="width:350px">
        <tr>
            <td align="right">SSID:</td>
            <td>
                <input type="text" id="ssid" name="ssid" value="">
            </td>
        </tr>
        <tr>
            <td align="right">Password:</td>
            <td>
                <input type="password" id="password" name="password" value="">
            </td>
        </tr>
        <tr>
            <td align="right">DHCP:</td>
            <td>
                <input type="checkbox" id="dhcp" name="dhcp">
            </td>
        </tr>
        <tr>
            <td align="right">IP:     </td>
            <td>
                <input type="text" id="ip_0" name="ip_0" size="3">.<input type="text" id="ip_1" name="ip_1" size="3">.<input type="text" id="ip_2" name="ip_2" size="3">.<input type="text" id="ip_3" name="ip_3" value="" size="3">
            </td>
        </tr>
        <tr>
            <td align="right">Netmask:</td>
            <td>
                <input type="text" id="nm_0" name="nm_0" size="3">.<input type="text" id="nm_1" name="nm_1" size="3">.<input type="text" id="nm_2" name="nm_2" size="3">.<input type="text" id="nm_3" name="nm_3" size="3">
            </td>
        </tr>
        <tr>
            <td align="right">Gateway:</td>
            <td>
                <input type="text" id="gw_0" name="gw_0" size="3">.<input type="text" id="gw_1" name="gw_1" size="3">.<input type="text" id="gw_2" name="gw_2" size="3">.<input type="text" id="gw_3" name="gw_3" size="3">
            </td>
        </tr>
        <tr>
            <td align="right">DNS:</td>
            <td>
                <input type="text" id="dns_0" name="dns_0" size="3">.<input type="text" id="dns_1" name="dns_1" size="3">.<input type="text" id="dns_2" name="dns_2" size="3">.<input type="text" id="dns_3" name="dns_3" size="3">
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" style="width:150px" class="btn btn--m btn--blue" value="Save">
            </td>
        </tr>
    </table>
</form>
<hr>
<strong>Connection State:</strong>
<div id="connectionstate">N/A</div>
<hr>
<strong>Networks: </strong><span id="numNets"></span>
<br>
<table border="0" cellspacing="3" style="width:370px">
    <tr>
        <td>
            <table>
                <thead bgcolor='#DDDDDD'>
                    <tr>
                        <th style="width:200px">SSID</th>
                        <th>Channel</th>
                        <th style="width:80px">Secure</th>
                        <th>RSSI</th>
                    </tr>
                </thead>
                <tbody id="networks"></tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center">
            <a href="javascript:GetState(); getNetwork();" style="width:150px" class="btn btn--m btn--blue">Refresh</a>
        </td>
    </tr>
</table>

<script language="javascript" type="text/javascript">
    function securityStr(security) {
        if      (security == 7) {
            return 'Open';
        }
        else if (security == 5) {
            return 'WEP';
        }
        else if (security == 2) {
            return 'WPA';
        }
        else if (security == 4) {
            return 'WPA2';
        }
        else if (security == 8) {
            return 'WPA/WPA2';
        }
    }

    function wifiScan(res) {
        var array;

        if (!res || (res.target.responseText == '[]')) {
            setTimeout(function () { getNetwork(); }, 5000);
            return;
        }
        array = JSON.parse(res.target.responseText);
        array.sort(function (a, b) { return a.rssi - b.rssi });
        array.reverse();
        document.getElementById("numNets").innerHTML = array.length;
        var table = document.getElementById("networks");
        table.innerHTML = "";
        for (var i = 0; i < array.length; i++) {
            var row = document.createElement("tr");
            row.innerHTML = "<td><a href='javascript:selssid(\"" + array[i].ssid + "\")'>" + array[i].ssid + "</td><td>" + array[i].channel + "</td><td>" + securityStr(array[i].secure) + "</td><td>" + array[i].rssi + "</td>";
            table.appendChild(row);
        }
    }

    function getNetwork() {
        request = new XMLHttpRequest();
        if (request) {
            request.open("GET", "/scan", true);
            request.addEventListener("load", wifiScan)
            request.send();
        }
    }

    function GetState() {
        setValues("/admin/connectionstate");
    }
    function selssid(value) {
        document.getElementById("ssid").value = value;
    }

    window.onload = function () {
        load("style.css", "css", function () {
            load("microajax.js", "js", function () {
                setValues("/admin/values");
                setTimeout(GetState, 3000);
                setTimeout(getNetwork, 1000);
            });
        });
    }

    function load(e, t, n) {
        if ("js" == t) {
            var a = document.createElement("script");
            a.src = e,
            a.type = "text/javascript",
            a.async = !1,
            a.onload = function () { n() },
            document.getElementsByTagName("head")[0].appendChild(a)
        } else if ("css" == t) {
            var a = document.createElement("link");
            a.href = e,
            a.rel = "stylesheet",
            a.type = "text/css",
            a.async = !1,
            a.onload = function () { n() },
            document.getElementsByTagName("head")[0].appendChild(a)
        }
    }
</script>
